# ignore Maven generated target folders
target
# ignore eclipse files
.project
.classpath
.settings
.externalToolBuilders
.factorypath
# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
test-output
classes
# log files
*.log
# vim files
*.swp
